.add-option {
    background-color: $dark-blue;
    padding: $s-size;
}

#add-option__error {
    color: $off-white;
    font-style: italic;
}

#add-option__input {
    max-width: 30.438rem;
    width: 100%;
    height: 3.125rem;
    background-color: darken($dark-blue, 5%);
    border: none;
    border-bottom: 0.3rem solid black;
    border-radius: 10px;
    color: $off-white;
}